/* Меню */

position: relative;
left: 53.47%;
right: 3.47%;
top: 10.87%;
bottom: 10.87%;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 18px;
height: 18px;
left: 20.23px;
top: 387px;

background: #FFFFFF;


/* Group 78 */

position: absolute;
width: 1000.06px;
height: 370px;
left: 239.94px;
top: 0px;



/* Line 7.46 */

position: absolute;
left: 52.78%;
right: 43.19%;
top: 17.36%;
bottom: 82.64%;

border: 1px solid #E8E8E8;
transform: rotate(-90deg);


/* Line 7.47 */

position: absolute;
left: 79.88%;
right: 3.63%;
top: 15.02%;
bottom: 84.98%;

border: 1px solid #E8E8E8;
transform: rotate(-90deg);


/* +7 921 256 23 69 */

position: absolute;
left: 54.52%;
right: 32.74%;
top: 16.94%;
bottom: 80.69%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 23px;

color: #1F1F1F;



/* Контактный телефон: */

position: absolute;
left: 54.44%;
right: 35.65%;
top: 14.03%;
bottom: 84.03%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 32px;

color: #777777;



/* Group 66.7 */

position: absolute;
left: 54.44%;
right: 26.53%;
top: 21.53%;
bottom: 73.47%;



/* Электронная почта: */

position: absolute;
left: 54.44%;
right: 36.21%;
top: 21.53%;
bottom: 76.53%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 32px;

color: #777777;



/* konstantinopolskyi.evgenij@gazprom.ru */

position: absolute;
left: 54.52%;
right: 26.53%;
top: 24.31%;
bottom: 73.47%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 23px;

color: #1F1F1F;



/* Line 7.48 */

position: absolute;
left: 81.71%;
right: 1.63%;
top: 28.38%;
bottom: 71.62%;

border: 1px solid #E8E8E8;


/* Line 7.49 */

position: absolute;
left: 81.71%;
right: 1.63%;
top: 22.97%;
bottom: 77.03%;

border: 1px solid #E8E8E8;


/* Line 7.50 */

position: absolute;
left: 81.71%;
right: 1.63%;
top: 17.41%;
bottom: 82.59%;

border: 1px solid #E8E8E8;


/* Консоль администратора */

position: absolute;
left: 81.69%;
right: 4.6%;
top: 18.89%;
bottom: 79.03%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 40px;

color: #1F1F1F;



/* Войти в Тенант 2 */

position: absolute;
left: 81.45%;
right: 6.85%;
top: 23.06%;
bottom: 71.53%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;

color: #1F1F1F;



/* Polygon */

position: absolute;
left: 97.98%;
right: 1.53%;
top: 25.42%;
bottom: 73.89%;

background: #333333;
border-radius: 0.4px;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Line 7.51 */

position: absolute;
left: 81.71%;
right: 1.63%;
top: 33.38%;
bottom: 66.62%;

border: 1px solid #E8E8E8;


/* Войти в Тенант с длинным наз... */

position: absolute;
left: 81.45%;
right: 1.05%;
top: 28.06%;
bottom: 66.53%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;

color: #1F1F1F;



/* Polygon */

position: absolute;
left: 97.98%;
right: 1.53%;
top: 30.42%;
bottom: 68.89%;

background: #333333;
border-radius: 0.4px;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Polygon */

position: absolute;
left: 97.98%;
right: 1.53%;
top: 19.72%;
bottom: 79.58%;

background: #333333;
border-radius: 0.4px;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Rectangle 13.2 */

position: absolute;
width: 1000px;
height: 104px;
left: 240px;
top: 246px;

background: rgba(233, 239, 244, 0.1);


/* Line 7.52 */

position: absolute;
left: 81.71%;
right: 1.63%;
top: 38.8%;
bottom: 61.2%;

border: 1px solid #E8E8E8;


/* Войти в Тенант 4 */

position: absolute;
left: 81.69%;
right: 4.6%;
top: 35%;
bottom: 62.92%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;

color: #1F1F1F;



/* Polygon */

position: absolute;
left: 97.98%;
right: 1.53%;
top: 35.83%;
bottom: 63.47%;

background: #333333;
border-radius: 0.4px;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Polygon */

position: absolute;
left: 97.98%;
right: 1.53%;
top: 14.58%;
bottom: 84.72%;

background: #333333;
border-radius: 0.4px;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Персональные данные */

position: absolute;
left: 81.69%;
right: 2.74%;
top: 13.89%;
bottom: 84.03%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 40px;

color: #1F1F1F;



/* Rectangle 3.13 */

position: absolute;
left: 20.97%;
right: 21.94%;
top: 30.14%;
bottom: 69.72%;

background: rgba(196, 196, 196, 0.4);
transform: matrix(1, 0, 0, -1, 0, 0);


/* Rectangle 2.170 */

position: absolute;
left: 19.35%;
right: 0%;
top: 0%;
bottom: 48.61%;

background: #FFFFFF;
box-shadow: 0px 13px 33px rgba(0, 0, 0, 0.23);


/* Group 56.4 */

position: absolute;
left: 94.35%;
right: 1.37%;
top: 1.25%;
bottom: 97.22%;



/* Group */

position: absolute;
left: 94.35%;
right: 1.37%;
top: 1.25%;
bottom: 97.22%;



/* Group 56.2 */

position: absolute;
left: 95.32%;
right: 1.37%;
top: 1.25%;
bottom: 97.22%;



/* Закрыть */

position: absolute;
left: 95.32%;
right: 1.37%;
top: 1.25%;
bottom: 97.22%;

font-family: 'Roboto';
font-style: normal;
font-size: 10px;
line-height: 11px;
/* identical to box height */
display: flex;
align-items: center;

color: #777777;



/* Union */

position: absolute;
left: 94.35%;
right: 5.16%;
top: 1.68%;
bottom: 97.49%;

background: #777777;


/* Ellipse */

position: absolute;
left: 21.77%;
right: 70.16%;
top: 3.47%;
bottom: 82.64%;

background: url(2198033429);


/* Константинопольский Евгений Сергеевич */

position: absolute;
left: 31.45%;
right: 36.53%;
top: 8.47%;
bottom: 88.19%;

font-family: 'Roboto';
font-style: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #333333;



/* Компания: */

position: absolute;
left: 21.69%;
right: 64.27%;
top: 18.75%;
bottom: 79.31%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 32px;

color: #777777;



/* ООО «Каменский завод газоиспользующего оборудования» КГЗО */

position: absolute;
left: 21.69%;
right: 53.23%;
top: 21.53%;
bottom: 75.69%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height */

color: #333333;



/* Должность: */

position: absolute;
left: 21.69%;
right: 68.95%;
top: 29.03%;
bottom: 69.03%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 32px;

color: #777777;



/* Не указана */

position: absolute;
left: 21.69%;
right: 58.71%;
top: 31.81%;
bottom: 65.97%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

color: #333333;



/* Group 69.3 */

position: absolute;
left: 76.61%;
right: 21.77%;
top: 2.92%;
bottom: 94.31%;



/* Group 65.20 */

position: absolute;
left: 76.61%;
right: 21.77%;
top: 2.92%;
bottom: 94.31%;



/* Ellipse */

position: absolute;
left: 76.61%;
right: 21.77%;
top: 2.92%;
bottom: 94.31%;

background: #FFFFFF;
box-shadow: 0px 0px 21px rgba(60, 148, 239, 0.2);


/* Vector */

position: absolute;
left: 77.18%;
right: 22.27%;
top: 3.85%;
bottom: 95.21%;

background: #4CA7F0;


/* Текущий тенант: ООО «Каменский завод газоиспользующего оборудования» КГЗО */

position: absolute;
left: 31.53%;
right: 27.42%;
top: 4.58%;
bottom: 93.33%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;

color: #777777;



/* Line 7.53 */

position: absolute;
left: 50.26%;
right: 45.7%;
top: 22.17%;
bottom: 77.83%;

border: 1px solid #E8E8E8;
transform: rotate(-90deg);


/* Line 7.54 */

position: absolute;
left: 79.94%;
right: -1.44%;
top: 0%;
bottom: 100%;

border: 1px solid #E8E8E8;
transform: rotate(-90deg);


/* Не указан */

position: absolute;
left: 52.02%;
right: 35.24%;
top: 21.67%;
bottom: 75.97%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 23px;

color: #1F1F1F;



/* Контактный телефон: */

position: absolute;
left: 51.94%;
right: 38.15%;
top: 18.75%;
bottom: 79.31%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 32px;

color: #777777;



/* Group 66.8 */

position: absolute;
left: 51.94%;
right: 29.03%;
top: 26.81%;
bottom: 68.19%;



/* Электронная почта: */

position: absolute;
left: 51.94%;
right: 38.71%;
top: 26.81%;
bottom: 71.25%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 32px;

color: #777777;



/* konstantinopolskyi.evgenij@gazprom.ru */

position: absolute;
left: 52.02%;
right: 29.03%;
top: 29.58%;
bottom: 68.19%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 23px;

color: #1F1F1F;



/* Star_L */

position: absolute;
width: 17px;
height: 16px;
left: 391px;
top: 90px;



/* Star */

position: absolute;
left: 0%;
right: 16.11%;
top: 0%;
bottom: 18.75%;

background: #F9C901;


/* Мелстон Инжиниринг */

position: absolute;
left: 119.28%;
right: -196.94%;
top: 0.38%;
bottom: 19.49%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* or 154% */

color: #8A8A8A;

mix-blend-mode: normal;


/* Rectangle 3.14 */

position: absolute;
width: 3px;
height: 50px;
left: 1235px;
top: 92px;

background: #E8E8E8;


/* Консоль администратора */

position: absolute;
left: 81.69%;
right: 4.6%;
top: 10.14%;
bottom: 87.78%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 40px;

color: #1F1F1F;



/* Group */

position: absolute;
width: 14px;
height: 13.83px;
left: 1025px;
top: 117px;



/* Ellipse 2 */

box-sizing: border-box;

position: absolute;
width: 14px;
height: 13px;
left: 1025px;
top: 117px;

border: 2px solid #999999;


/* Vector */

position: absolute;
width: 2.73px;
height: 2.73px;
left: 1035.49px;
top: 128.1px;

border: 2px solid #999999;


/* Войти в Тенант 2 */

position: absolute;
left: 81.45%;
right: 6.85%;
top: 22.22%;
bottom: 75.97%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;

color: #1F1F1F;



/* Polygon */

position: absolute;
left: 97.98%;
right: 1.53%;
top: 10.83%;
bottom: 88.47%;

background: #333333;
border-radius: 0.4px;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Polygon */

position: absolute;
left: 97.98%;
right: 1.53%;
top: 6.25%;
bottom: 93.06%;

background: #333333;
border-radius: 0.4px;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Войти в Тенант с длинным наз... */

position: absolute;
left: 81.45%;
right: 1.05%;
top: 26.94%;
bottom: 70.69%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;

color: #1F1F1F;



/* Войти в Тенант с длинным наз... */

position: absolute;
left: 81.45%;
right: 1.05%;
top: 32.08%;
bottom: 65.56%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;

color: #1F1F1F;



/* Персональные данные */

position: absolute;
left: 81.69%;
right: 2.74%;
top: 5.56%;
bottom: 92.36%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 40px;

color: #1F1F1F;



/* Group 77 */

position: absolute;
width: 1000.06px;
height: 70.01px;
left: 239.94px;
top: 266.57px;



/* Настройка Уведомлений: */

position: absolute;
left: 21.61%;
right: 64.35%;
top: 39.72%;
bottom: 58.19%;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 38px;

color: #1F1F1F;



/* Group 73.3 */

position: absolute;
width: 213px;
height: 15px;
left: 781px;
top: 313px;



/* Включить Push уведомления */

position: absolute;
left: 62.98%;
right: 21.45%;
top: 43.47%;
bottom: 54.44%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 40px;

color: #1F1F1F;



/* Group 57.1 */

position: absolute;
left: 78.15%;
right: 19.84%;
top: 43.61%;
bottom: 54.58%;



/* Rectangle 3.544 */

position: absolute;
left: 78.15%;
right: 19.84%;
top: 43.61%;
bottom: 54.58%;

background: linear-gradient(63.05deg, #5EBCF1 7.65%, #348AEE 79.01%);
box-shadow: inset 0px 4px 8px rgba(124, 18, 32, 0.33);
border-radius: 35px;


/* Rectangle 3.545 */

position: absolute;
left: 79.11%;
right: 20%;
top: 43.75%;
bottom: 54.86%;

background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(42, 138, 185, 0.33);
border-radius: 35px;


/* Group 74.3 */

position: absolute;
width: 214px;
height: 15px;
left: 528px;
top: 313px;



/* Включить SMS уведомления */

position: absolute;
left: 42.58%;
right: 41.85%;
top: 43.47%;
bottom: 54.44%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 40px;

color: #1F1F1F;



/* Group 57.1 */

position: absolute;
left: 57.82%;
right: 40.16%;
top: 43.75%;
bottom: 54.44%;



/* Rectangle 3.544 */

position: absolute;
left: 57.82%;
right: 40.16%;
top: 43.75%;
bottom: 54.44%;

background: #CCCCCC;
box-shadow: inset 0px 4px 8px rgba(92, 92, 92, 0.33);
border-radius: 35px;


/* Rectangle 3.545 */

position: absolute;
left: 57.98%;
right: 41.13%;
top: 43.89%;
bottom: 54.72%;

background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(65, 65, 65, 0.33);
border-radius: 35px;


/* Group 75.3 */

position: absolute;
width: 220px;
height: 15px;
left: 268px;
top: 313px;



/* Включить E-mail уведомления */

position: absolute;
left: 21.61%;
right: 62.82%;
top: 43.47%;
bottom: 54.44%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 40px;

color: #1F1F1F;



/* Group 57.1 */

position: absolute;
left: 37.34%;
right: 60.65%;
top: 43.75%;
bottom: 54.44%;



/* Rectangle 3.544 */

position: absolute;
left: 37.34%;
right: 60.65%;
top: 43.75%;
bottom: 54.44%;

background: linear-gradient(63.05deg, #5EBCF1 7.65%, #348AEE 79.01%);
box-shadow: inset 0px 4px 8px rgba(124, 18, 32, 0.33);
border-radius: 35px;


/* Rectangle 3.545 */

position: absolute;
left: 38.31%;
right: 60.81%;
top: 44.03%;
bottom: 54.58%;

background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(42, 138, 185, 0.33);
border-radius: 35px;


/* Line 7.55 */

position: absolute;
left: 19.35%;
right: 0%;
top: 37.02%;
bottom: 62.98%;

border: 1px solid #E8E8E8;


/* Group 76.2 */

position: absolute;
width: 104px;
height: 30px;
left: 1111.96px;
top: 306.58px;



/* Vivid blue */

box-sizing: border-box;

position: absolute;
width: 104px;
height: 30px;
left: 1111.96px;
top: 306.58px;

background: linear-gradient(88.97deg, #5EBCF1 15.12%, #348AEE 116.27%);
border: 0.5px solid #FFFFFF;
border-radius: 30px;


/* Выйти */

position: absolute;
width: 65px;
height: 14px;
left: 1139px;
top: 315px;

font-family: 'Roboto';
font-style: normal;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;



/* Group 7.1 */

position: absolute;
left: 91.42%;
right: 7.78%;
top: 43.83%;
bottom: 54.78%;



/* Arrow */

box-sizing: border-box;

position: absolute;
left: 91.45%;
right: 8.01%;
top: 44.5%;
bottom: 55.5%;

border: 1px solid #FFFFFF;
transform: rotate(180deg);


/* Subtract */

position: absolute;
left: 91.42%;
right: 7.78%;
top: 43.83%;
bottom: 54.78%;

background: #FFFFFF;


/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
left: 91.42%;
right: 7.78%;
top: 43.83%;
bottom: 54.78%;

border: 1px solid #348AEE;


/* Rectangle 4 */

position: absolute;
left: 91.35%;
right: 7.94%;
top: 44.09%;
bottom: 55.1%;

background: #348AEE;


/* form-control */

box-sizing: border-box;

position: absolute;
width: 209px;
height: 30px;
left: 1011px;
top: 109px;

background: rgba(255, 255, 255, 0.0001);
border: 1px solid #EEEEEE;


/* Поиск */

position: absolute;
width: 97px;
height: 13px;
left: 1050px;
top: 117px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #999999;



/* Menu */

position: absolute;
width: 241px;
height: 720px;
left: 0px;
top: 0px;



/* Rectangle 76 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #303036;


/* Group 7 */

position: absolute;
left: 9.13%;
right: 82.57%;
top: 11.11%;
bottom: 86.11%;



/* assignment - material */

position: absolute;
left: 9.13%;
right: 82.57%;
top: 11.11%;
bottom: 86.11%;

font-family: 'material';
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
text-align: center;

color: #FFFFFF;



/* Group 9 */

position: absolute;
left: 9.13%;
right: 82.57%;
top: 23.33%;
bottom: 73.89%;



/* people - material */

position: absolute;
left: 9.13%;
right: 82.57%;
top: 23.33%;
bottom: 73.89%;

font-family: 'material';
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
text-align: center;

color: #FFFFFF;



/* Group 8 */

position: absolute;
left: 9.13%;
right: 82.57%;
top: 17.36%;
bottom: 79.86%;



/* place - material */

position: absolute;
left: 9.13%;
right: 82.57%;
top: 17.36%;
bottom: 79.86%;

font-family: 'material';
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
text-align: center;

color: #FFFFFF;



/* Group 11 */

position: absolute;
left: 9.13%;
right: 82.57%;
top: 30%;
bottom: 67.22%;



/* map - material */

position: absolute;
left: 9.13%;
right: 82.57%;
top: 30%;
bottom: 67.22%;

font-family: 'material';
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
text-align: center;

color: #FFFFFF;



/* Group 9 */

position: absolute;
left: 9.13%;
right: 82.57%;
top: 38.47%;
bottom: 58.75%;



/* chat - material */

position: absolute;
left: 9.13%;
right: 82.57%;
top: 38.47%;
bottom: 58.75%;

font-family: 'material';
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
text-align: center;

color: #FFFFFF;



/* Group 3 Copy */

position: absolute;
left: 9.96%;
right: 52.65%;
top: 3.38%;
bottom: 94.51%;



/* Fill 3 */

position: absolute;
left: 33.97%;
right: 59.97%;
top: 4.27%;
bottom: 95.4%;

background: #ED1940;


/* Fill 4 */

position: absolute;
left: 33.97%;
right: 59.97%;
top: 3.38%;
bottom: 96.3%;

background: #ED1940;


/* Fill 5 */

position: absolute;
left: 33.97%;
right: 59.97%;
top: 5.17%;
bottom: 94.51%;

background: #ED1940;


/* Fill 6 */

position: absolute;
left: 41.57%;
right: 52.65%;
top: 3.65%;
bottom: 94.51%;

background: #FFFFFF;


/* Fill 7 */

position: absolute;
left: 9.96%;
right: 83.22%;
top: 3.39%;
bottom: 94.53%;

background: #FFFFFF;


/* Fill 8 */

position: absolute;
left: 18.84%;
right: 75.51%;
top: 3.66%;
bottom: 94.53%;

background: #FFFFFF;


/* Fill 9 */

position: absolute;
left: 26.47%;
right: 68.07%;
top: 3.66%;
bottom: 94.53%;

background: #FFFFFF;


/* Path */

position: absolute;
left: 27.43%;
right: 69.03%;
top: 4.66%;
bottom: 94.8%;

background: #DADADA;


/* Path */

position: absolute;
left: 27.43%;
right: 69.06%;
top: 3.93%;
bottom: 95.61%;

background: #DADADA;


/* Path */

position: absolute;
left: 26.47%;
right: 68.07%;
top: 3.66%;
bottom: 94.53%;

background: #DADADA;


/* chevron_left - material */

position: absolute;
left: 86.72%;
right: 6.64%;
top: 3.33%;
bottom: 94.44%;

font-family: 'material';
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
text-align: center;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;


/* Rectangle 77 */

position: absolute;
left: 0%;
right: 0%;
top: 22.22%;
bottom: 71.67%;

background: #242324;
box-shadow: inset 4px 0px 0px #ED1940;


/* Group 15 */

position: absolute;
left: 0.41%;
right: 0.41%;
top: 8.89%;
bottom: 50.42%;



/* Заявки */

position: absolute;
left: 24.9%;
right: 53.94%;
top: 11.67%;
bottom: 85.56%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Сотрудники */

position: absolute;
left: 24.9%;
right: 40.25%;
top: 24.17%;
bottom: 73.06%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Объекты */

position: absolute;
left: 24.9%;
right: 48.96%;
top: 17.78%;
bottom: 79.44%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Карта */

position: absolute;
left: 24.9%;
right: 45.23%;
top: 30.56%;
bottom: 66.67%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Сообщения */

position: absolute;
left: 24.9%;
right: 41.08%;
top: 38.89%;
bottom: 58.33%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Пункт меню */

position: absolute;
left: 24.9%;
right: 43.98%;
top: 46.81%;
bottom: 50.42%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Line 2 */

position: absolute;
left: 0.41%;
right: 0.41%;
top: 8.89%;
bottom: 90.97%;

mix-blend-mode: normal;
opacity: 0.27;
border: 1px solid #000000;


/* Line 2 */

position: absolute;
left: 0.41%;
right: 0.41%;
top: 36.25%;
bottom: 63.61%;

mix-blend-mode: normal;
opacity: 0.27;
border: 1px solid #000000;


/* Line 2 */

position: absolute;
left: 0.41%;
right: 0.41%;
top: 44.03%;
bottom: 55.83%;

mix-blend-mode: normal;
opacity: 0.27;
border: 1px solid #000000;


/* Пункт меню */

position: absolute;
left: 25.31%;
right: 46.47%;
top: 53.75%;
bottom: 43.47%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Vector */

position: absolute;
left: 8.81%;
right: 83.72%;
top: 11.36%;
bottom: 85.86%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 8.6%;
right: 83.72%;
top: 24.44%;
bottom: 73.75%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 8.6%;
right: 83.72%;
top: 38.89%;
bottom: 58.53%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 9.13%;
right: 83.85%;
top: 46.98%;
bottom: 50.59%;

background: #FFFFFF;


/* case */

position: absolute;
left: 8.71%;
right: 83.82%;
top: 30.28%;
bottom: 67.08%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 62%;
bottom: 9.79%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 9.79%;
bottom: 39.55%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 8.39%;
right: 84.14%;
top: 53.75%;
bottom: 43.75%;

background: #FFFFFF;


/* company */

position: absolute;
left: 8.81%;
right: 83.72%;
top: 17.57%;
bottom: 79.79%;

background: #FFFFFF;


/* Exclude */

position: absolute;
left: 10.88%;
right: 85.6%;
top: 46.63%;
bottom: 52.67%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 10.88%;
right: 85.6%;
top: 46.63%;
bottom: 52.67%;

background: #FFFFFF;


/* Ellipse 3 */

position: absolute;
left: 12.38%;
right: 87.1%;
top: 46.78%;
bottom: 53.05%;

background: #C4C4C4;
