/* Drawer */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 460px;
height: 800px;
right: 3510px;
top: 664px;

background: #FFFFFF;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 24px 24px;
gap: 12px;
isolation: isolate;

width: 460px;
height: 80px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Редактирование критичности заявки */

width: 412px;
height: 24px;

/* head/font-H2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #1F1F1F;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Button-Circle */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 32px;
max-width: 32px;
height: 32px;
max-height: 32px;
right: 4px;
top: 4px;

background: #FFFFFF;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* ❗ Icon-Wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
width: 9.89px;
height: 9.89px;
left: 4.06px;
top: 4.06px;

background: #777777;


/* close */

position: absolute;
width: 18px;
height: 18px;
left: calc(50% - 18px/2);
top: calc(50% - 18px/2 - 0px);



/* Vector */

position: absolute;
left: 22.53%;
right: 22.53%;
top: 22.53%;
bottom: 22.53%;



/* Body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 24px;
gap: 24px;

width: 460px;
height: 632px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Input */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 412px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 7px 10px;
gap: 8px;
isolation: isolate;

width: 412px;
height: 32px;
max-height: 32px;

background: #FFFFFF;
border: 1px solid #ED1940;
border-radius: 3px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 1px 0px;
gap: 2px;

width: 392px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
z-index: 0;


/* Placeholder */

width: 187px;
height: 16px;

/* body/font-body-regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */
display: flex;
align-items: center;

color: #777777;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* * */

width: 6px;
height: 16px;

/* body/font-body-regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */
display: flex;
align-items: center;

color: #ED1940;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Counter */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 2px;

position: absolute;
display: none;
width: 30px;
height: 14px;
right: 10px;
bottom: -7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* ❗ Icon-Wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

display: none;
width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Message */

width: 412px;
height: 14px;

/* body/font-caption-regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;
/* identical to box height, or 127% */
display: flex;
align-items: center;

color: #ED1940;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ERPID */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 412px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 7px 10px;
gap: 8px;
isolation: isolate;

width: 388px;
height: 32px;
max-height: 32px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
border-radius: 3px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 1px 0px;
gap: 2px;

width: 368px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
z-index: 0;


/* Placeholder */

width: 136px;
height: 16px;

/* body/font-body-regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */
display: flex;
align-items: center;

color: #777777;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* * */

display: none;
width: 6px;
height: 16px;

/* body/font-body-regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */
display: flex;
align-items: center;

color: #ED1940;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Counter */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 2px;

position: absolute;
display: none;
width: 30px;
height: 14px;
right: 10px;
bottom: -7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* ❗ Icon-Wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

display: none;
width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Info */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* size-keeper */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bg */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2);
top: calc(50% - 16px/2);

background: #FFFFFF;
border: 1px solid #EEEEEE;


/* Vector */

position: absolute;
width: 2.03px;
height: 8.1px;
left: calc(50% - 2.03px/2 - 0px);
top: calc(50% - 8.1px/2 - 0px);

background: #32B4EB;


/* TaskType */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 412px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Цвет */

width: 412px;
height: 22px;

/* head/font-H3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */
display: flex;
align-items: center;

color: #1F1F1F;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* цвет */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 8px;

width: 412px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #ED1940;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #D64753;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #FA574B;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #1989DF;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #47AFE1;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #E1F5FE;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #8DC26F;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #1F1F1F;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #303036;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 9;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #777777;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 10;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #999999;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 11;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #E9EFF4;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 12;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #FF6A00;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 13;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #EEAE09;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 14;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #F32556;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 15;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #2295C7;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 16;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #6ED3FF;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 17;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #5EBCF1;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

position: absolute;
width: 18px;
height: 14px;
left: calc(50% - 18px/2);
top: calc(50% - 14px/2);

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 18;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #348AEE;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 19;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #F62F4A;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 20;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #FF9966;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 21;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #D3CCE3;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 22;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #F15F79;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 23;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #F7B733;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 24;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #4DB6AC;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* color */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 25;
flex-grow: 0;


/* bg */

width: 24px;
height: 24px;

background: #80A3F9;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 4827 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 412px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 220px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* size-keeper */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bg */

position: absolute;
width: 18px;
height: 18px;
left: calc(50% - 18px/2);
top: calc(50% - 18px/2);

background: #32B4EB;
border-radius: 2px;


/* check */

position: absolute;
width: 14px;
height: 10px;
left: calc(50% - 14px/2);
top: calc(50% - 10px/2);



/* Vector */

position: absolute;
width: 13.17px;
height: 9.59px;
left: calc(50% - 13.17px/2 - 0.02px);
top: calc(50% - 9.59px/2 - 0.01px);

background: #FFFFFF;


/* Content */

width: 194px;
height: 18px;

/* body/font-paragraph-regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */
display: flex;
align-items: center;

color: #1F1F1F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Info */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* size-keeper */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bg */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2);
top: calc(50% - 16px/2);

background: #FFFFFF;
border: 1px solid #EEEEEE;


/* Vector */

position: absolute;
width: 2.03px;
height: 8.1px;
left: calc(50% - 2.03px/2 - 0px);
top: calc(50% - 8.1px/2 - 0px);

background: #32B4EB;


/* Footer */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 24px 24px 32px;
gap: 16px;

width: 460px;
height: 88px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* — */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 412px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 7px 20px;
gap: 8px;

width: 106px;
height: 32px;
max-height: 32px;

background: #32B4EB;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ❗ Icon-Wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

display: none;
width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 66px;
height: 16px;

/* body/font-body-medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ❗ Icon-Wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

display: none;
width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 7px 20px;
gap: 8px;

width: 101px;
height: 32px;
max-height: 32px;

background: #FFFFFF;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ❗ Icon-Wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

display: none;
width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 61px;
height: 16px;

/* body/font-body-regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */
display: flex;
align-items: center;

color: #1F1F1F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ❗ Icon-Wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

display: none;
width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
